{% extends 'base-container.twig' %}

{% block content %}
    <div class="row">
    <div class="col-md-12 text-center">
    <h1>Games</h1>
    <br>
    <table class="games-table">
        <thead>
            <tr>
                <th colspan="4">
                    <h1>Active Games</h1>
                </th>
            </tr>
            <tr>
                <th>ID</th>
                <th>Players</th>
                <th>Time Created</th>
                <th></th>
            </tr>
        </thead>
        {%  for game in unCompleteGames %}
            <tr>
                <td>{{ game.id }}</td>
                <td>{{ game.playerList }}</td>
                <td>{{ game.start_time|date('d M Y (H:i:s)') }}</td>
                <td>
                    <a class="whist-button whist-button-sm" href="games/details/{{ game.id }}">
                        Play
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
    <br><br>
    <table class="games-table">
        <thead>
            <tr>
                <th colspan="4">
                    <h1>Completed Games</h1>
                </th>
            </tr>
            <tr>
                <th>ID</th>
                <th>Players</th>
                <th>Time Created</th>
                <th></th>
            </tr>
        </thead>
        {%  for game in completeGames %}
            <tr>
                <td>{{ game.id }}</td>
                <td>{{ game.playerList }}</td>
                <td>{{ game.start_time|date('d M Y (H:i:s)') }}</td>
                <td>
                    <a class="whist-button whist-button-sm" href="games/details/{{ game.id }}">
                        Score
                    </a>
                </td>
            </tr>
        {% endfor %}
{% endblock %}