{% extends 'base-container.twig' %}
{% set hideLogo = true %}
{% block content %}
{#<h4>Game Details: {{ game.name }}</h4>#}

    <div class="row">
    <div class="col-md-6 col-md-offset-3">
    <div id="action-waiting" class="text-center">
        <div class="loading-content">
            <img src="{{ base_url() }}/img/loader.gif">
            <h3 id="waiting-for-text">Loading</h3>
        </div>
        <div id="loading-background" class="completely-black"></div>
    </div>
    </div>
    </div>
        <div class="row">
            <div class="col-md-12">
                <div id="game-cards-container-area">
                    <div id="game-cards-container" class="playingCards rotateHand" style="display:none;">
                        {{ cardHTML|raw }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <div id="action-trumps" class="" style="display:none;">
                    <h3 class="text-center">Choose Trumps:</h3>
                    <div class="row" style="margin-left: 5%;">
                        <div class="col-md-3 trump-choose" id="trumps-diamonds" data-suit="diamonds">
                            <span class="trump-wording">
                                Diamonds
                            </span>
                            <span class="trump-suit">
                                &diams;
                            </span>
                        </div>
                        <div class="col-md-3 trump-choose" id="trumps-spades" data-suit="spades">
                            <span class="trump-wording">
                                Spades
                            </span>
                            <span class="trump-suit">
                                &spades;
                            </span>
                        </div>
                        <div class="col-md-3 trump-choose" id="trumps-hearts" data-suit="hearts">
                            <span class="trump-wording">
                                Hearts
                            </span>
                            <span class="trump-suit">
                                &hearts;
                            </span>
                        </div>
                        <div class="col-md-3 trump-choose" id="trumps-clubs" data-suit="clubs">
                            <span class="trump-wording">
                                Clubs
                            </span>
                            <span class="trump-suit">
                                &clubs;
                            </span>
                        </div>
                    </div>
                </div>
                <div id="action-guess" class="" style="display:none;">
                    <h3 class="text-center">Place your guess:</h3>
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <input type="number" id="guess-value">
                            <br>
                            <span id="guess-text" class="hidden">test</span>
                            <br>
                            <button type="button" class="whist-button" id="submit-guess">
                                Place Guess
                            </button>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br><br>
        <div id="game-score-container">
        </div>
        <div class="game-log open">
            <h4>Game Events</h4>
            <div class="game-log-messages">
                {% for event in events %}
                    <div class="game-event">
                         <b>{{ event['name'] }}</b> ({{ event['event_time']|date('H:i:s') }}) - {{ event['event']|raw }}
                    </div>
                {% endfor %}
            </div>
        </div>
        <script type="text/javascript">
            var notAllowedValue = 1000;
            var cardProcessing = false;
            var firstTimeLoad = true;
            $(function() {
                setInterval(
                    updateScore,
                    1000
                );
                function updateScore() {
                    $.get('../../games/score/{{ game.id }}', function(response) {
                        $('#game-score-container').html(response);
                    });
                }
                setInterval(
                    updateActions,
                    1000
                );
                function updateActions() {
                    $.get('../../games/actions/{{ game.id }}', function(response) {
                        if (firstTimeLoad) {
                            $('#loading-background').animate({
                                opacity: 0.35,
                            }, 500, function() {
                                updateActions()
                            });
                            $('#game-cards-container').fadeIn();
                            firstTimeLoad = false;
                            return;
                        }
                        switch (response['action']) {
                            case 'trumps':
                                showTrumps();
                                hideGuess();
                                hideLoader();
                                notAllowedValue = 1000;
                                break;
                            case 'guess':
                                showGuess();
                                hideTrumps();
                                hideLoader();
                                if (response['guess_cant_say'] != 1000) {
                                    notAllowedValue = response['guess_cant_say'];
                                }
                                break;
                            case 'waiting':
                                var waitingFor = response['for'];
                                hideTrumps();
                                hideGuess();
                                $('#waiting-for-text').html('Waiting for ' + waitingFor);
                                showLoader();
                                notAllowedValue = 1000;
                                break;
                            case 'card':
                                hideTrumps();
                                hideGuess();
                                hideLoader();
                                notAllowedValue = 1000;
                                break;
                        }
                    });
                }

                function showGuess()
                {
                    $('#action-guess').fadeIn("fast");
                }

                function hideGuess()
                {
                    $('#action-guess').fadeOut("fast");
                }

                function showLoader()
                {
                    $('#action-waiting').fadeIn("fast");
                }

                function hideLoader()
                {
                    $('#action-waiting').fadeOut("fast");
                }

                function showTrumps()
                {
                    $('#action-trumps').fadeIn("fast");
                }

                function hideTrumps()
                {
                    $('#action-trumps').fadeOut("fast");
                }

                setInterval(
                    updateCards,
                    1000
                );
                function updateCards() {
                    if (!cardProcessing) {
                        $.get('../../games/cards/{{ game.id }}', function(response) {
                        $('#game-cards-container .card').hide();
                        $('#game-cards-container .card').removeClass('disabled');
                        $('#game-cards-container .card').removeClass('raised');
                            $.each(response, function( key, value ) {
                                $('#game-cards-container #card-' + key).show();
                                if (value['disabled']) {
                                    $('#game-cards-container  #card-' + key).addClass('disabled');
                                }
                                if (value['raised']) {
                                    $('#game-cards-container  #card-' + key).addClass('raised');
                                }
                            });
                        });
                    }
                }

                $('.submit-data').on('click', function() {
                    submitData();
                });

                $('#game-cards-container').on("click", ".playable-card", function() {
                    if (!cardProcessing) {
                        var cardValue = $(this).data('card');
                        cardProcessing = true;
                        $.get("../../players/update/play-card", {
                            gameId: {{ game.id }},
                            card: cardValue
                        })
                            .done(function (data) {
                                setTimeout(function () {
                                    cardProcessing = false;
                                }, 1000);
                            });

                        $('#game-cards-container').hide();
                        showLoader();
                        setTimeout(function () {
                            $('#game-cards-container').show();
                        }, 1000);
                    }
                });

                $('.game-log').on('click', function(){
                    if ($(this).hasClass('open')) {
                        $('.game-log').removeClass('open');
                    } else {
                        $('.game-log').addClass('open');
                    }
                });

                $('.trump-choose').on('click', function() {
                    sendTrumps($(this).data('suit'));
                });

                function sendTrumps(suit)
                {
                    $.get( "../../games/input", {
                        gameId:     {{ game.id }},
                        valueType: 'trumps',
                        trumps: suit
                    })
                        .done(function( data ) {
                            hideTrumps();
                        });
                }

                $('#submit-guess').on('click', function() {
                    sendGuess();
                });

                function sendGuess()
                {
                    var guessValue = $('#guess-value').val();
                    if (guessValue != notAllowedValue) {
                        $.get( "../../games/input", {
                            gameId:     {{ game.id }},
                            valueType: 'guess',
                            value: guessValue
                        })
                            .done(function( data ) {
                                hideGuess();
                            });
                    } else {
                        $('#guess-text').html('Cannot say ' + guessValue);
                        $('#guess-text').removeClass('hidden');
                    }
                }
            });
        </script>
{% endblock %}